h2.ml8 {
    font-weight: 900;
    font-size: 3.5em;
    color: #fff;
    width: 200px;
    height: 200px;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50;
    bottom: 0;
    height: 1em;
  }
  
  .ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: 0.12em;
    top: 0;
  }
  
  .ml8 .bang {
    font-size: 1em;
    top: auto;
    left: 0em;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    top: 1;
    bottom: 0;
  }
  
  
  
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: rgba(26, 16, 93, 0.580);
    border-radius: 3em;
    z-index: 1;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed white;
    width: 2.3em;
    height: 2.3em;
  }
  .ml8 {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -80%);
  }

  @media (max-width: 1150px){

    .animacion2{

      position: relative;
      top: 20vw;
      right: 30vh;
    }
  
  }
  @media (max-width: 900px){

    .animacion2{

      position: relative;
      top: 25vw;
      right: 15vh;
    }
  
  }
  @media (max-width: 700px){

    .animacion2{

      position: relative;
      top: 35vw;
      right: 15vh;
    }
  
  }
  @media (max-width: 500px){

    .animacion2{

      position: relative;
      top: 45vw;
      right: 5vh;
    }
  
  }
  @media (max-width: 420px){

    .animacion2{

      position: absolute;
      top: 50vw;
      right: 2vh;
    }
  
  }
